*~
*.la
*.lo
*.o
*.swp
*.class
tags

# Autotools
.libs/
m4/
*.deps/
.dirstamp
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
libtool
missing
stamp-*
Makefile
Makefile.in

# Binaries
bin/
