*~
*.la
*.lo
*.o
*.swp

# Autotools
.libs/
m4/
*.deps/
.dirstamp
aclocal.m4
autom4te.cache/
compile
config.h
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
libtool
missing
stamp-*
Makefile
Makefile.in

# Binaries
src/abc
src/abc.nosudo
src/acache
src/ahra/allnet-generate
src/ahra/allnet-subscribe
src/ad
src/aip
src/astart
src/alocal
src/mgmt/keyd
src/mgmt/trace
src/xchat/xchat_socket
src/xchat/xchatr
src/xchat/xchats
src/xchat/xkeyr
src/xchat/xkeys
src/xtime/allnet-radio
src/xtime/xtime
