<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xchat UI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>425A7D8E1AEC898C00C74E12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>425A7DAA1AEC898C00C74E12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42E396481B140DEA007D15CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42E396521B140DEA007D15CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
